* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}

/* Header Start */
header {}
.container {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.logo {
	width: 20%;
	float: left;
}
.logo p {
	padding: 20px 15px 0 0;
	font-stretch: expanded;
	font-family: 'Inconsolata', monospace;
	font-size: 30px;
}
.menu {

	width: 65%;
	float: right;
}
.menu ul {
	list-style: none;
	float: right;
}
.menu ul li {
	float: left;
}
.menu ul li a {
	display: block;
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color: #AEAEAE;
	text-decoration: none;
	text-transform: uppercase;
	padding: 35px 55px;
	transition: .6s ease;
}
.menu ul li a:hover {
	color: black;
}
.menu ul li a:last-child {
	padding-right: 0;
}
/* Header End */

/* Banner Start */
.banner {
	margin: 20px 0 100px 0;
}
.banner_top {
	margin-bottom: 100px;
}
.banner_top img {
	width: 100%;
}
.banner_bottom {
	width: 95%;
	margin: 0 auto;
}
.banner_bottom p {
	color: #CEC9C0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	margin: 30px auto;
}
.banner_text {
	margin: 0 auto;
}
.banner_text h2 {
	color: #626262;
	font-weight: normal;
	font-size: 30px;
}
.banner_text p {
	color: #8B8B8B;
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	margin: 30px auto;
}
/* Banner End */

/* Service Top Start */
.service {
	width: 75%;
	margin: 0 auto;
}
.service h6 {
	margin: 15px auto;
	font-weight: normal;
	color: #CEC9C0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	margin: 20px auto;
}
.service h2 {
	color: #626262;
	font-weight: normal;
	font-size: 30px;
	margin: 15px auto;
}
.service p {
	color: #8B8B8B;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}
.service img {
	width: 100%;
}
.service_content {
	overflow: hidden;
	margin-top: 100px;
	margin-bottom: 100px;
}
.content_left {
	width: 45%;
	float: left;
}
.content_right {
	width: 45%;
	float: right;
}
/* Service Top End */

/* Newsletter Start */
.newsletter {
	text-align: center;
	overflow: hidden;
	margin: 0 auto;
	background-color: #F0F0F0;
	background-size: cover;
	padding: 0 80px;
	min-height: 280px;

}
.newsletter h2 {
	width: 35%;
	margin: 50px auto;
	color: #626262;
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	font-size: 23px;
	margin-top: 70px;
}
.nl_bottom {
	width: 32%;
	margin: 0 auto;
	border-bottom: 2px solid #626262;
	overflow: hidden;
}
.email {
	border: 0;
	background: transparent;
	background-color: #F0F0F0;
	outline-style: none;
	float: left;
	margin-bottom: 5px;
}
.btn {
	float: right;
}
/* Newsletter End */

/* Service Bottom Start */
.button {
	width: 20%;
	margin: 200px auto;
	display: block;
}
button {
	padding: 15px 30px;
	background-color: #FFFFFF;
	transition: 0.5s ease;
}
button:hover {
	color: grey;
	background-color: #F0F0F0;
}
/* Service Bottom End */

/* Footer Start */
footer {
	background-color: #F0F0F0;
	min-height: 100px;
}
.footer_wrapper {
	overflow: hidden;
	width: 75%;
	margin: 0 auto;
}
.footer_left {
	width: 30%;
	float: left;
	margin-top: 50px;
}
.footer_left p {}
.footer_left p a {
	text-decoration: none;
	color: #626262;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	float: left;
}
.footer_left p a:last-child {
	padding-left: 15px;
}
.footer_right {
	width: 40%;
	float: right;
	margin-top: 50px;
}
.footer_right ul {
	list-style: none;
	float: right;
}
.footer_right ul li {
	float: left;
	padding-left: 10px;
	color: #626262;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}
.footer_right ul li a {}
.footer_right ul li a img {}
/* Footer End */